<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert New or Edit Song</title>
</head>

<body>
	<!-- allows for songs to be created and updated -->
	<form th:object="${newSongs}" th:action="@{/update/{id}(id=${newSongs.id})}" method=POST>
		<!-- title -->
		Title: <input name="title" size="20" th:field="*{title}" required><br />
		<!-- artist -->
		Artist: <input name="artist" size="20" th:field="*{artist}" required><br />
		<!-- genres -->
		Genres: <input name="genres" size="20" th:field="*{genres}" required><br />
		<!-- album -->
		Album: <input name="album" size="20" th:field="*{album}" required><br />
		<!-- language -->
		Language: <input name="language" size="20" th:field="*{language}" required><br />
		<!-- duration -->
		Duration: <input name="duration" size="20" th:field="*{duration}" required><br />
		<!-- release year -->
		Release Year: <input name="releaseYear" size="20" th:field="*{releaseYear}" required><br />
		<!-- bpm -->
		Beats Per Minute: <input name="bpm" size="20" th:field="*{bpm}" required><br />
		<!-- expicit -->
		Explicit? : <input type="checkbox" name="explicit" size="20" th:field="*{explicit}"><br />
		<!-- Submit button -->
		<input name="Submit" type="submit" value="submit" />
	</form>
	<!--Navigation -->
	<a href="../viewAllSongs">View All Songs</a>
	<a href="../index">Go Home</a>

</body>

</html>